.title{
    color: red
}

.one{
    background-color: beige;
}
.two{
    background-color: bisque;
}
.three{
    background-color: blanchedalmond;
}
.four{
    background-color: antiquewhite;
}
.five{
    background-color: aquamarine;
}